/*--------------------*/
/* LABELS ON CHECKOUT */
/*--------------------*/
.checkout-main .shipping .checkout-cols > div:last-of-type:not(.shcompany),
.checkout-main .checkout-cols > div.address{
	width: auto;
	margin-right: 115px;
}

/*.checkout-main .shipping .checkout-cols > div h4{ margin-left: 164px; }*/

.checkout-main .shipping .form-item.form-select,
.checkout-main .address .form-item.form-select{
	margin-left: 89px;
}

.checkout-main .shipping .form-item label,
.checkout-main .address .form-item label{
    width: 65px;
    display: inline-block;
    text-align: right;
    margin-right: 20px;
}

.checkout-main .shipping .form-item label,
.checkout-main .address .form-item label,
.checkout-main .shipping .form-item input,
.checkout-main .address .form-item input{
	display: inline-block;
	vertical-align: top;
}

.checkout-main .shipping .select-wrapper,
.checkout-main .address .select-wrapper{
	display: inline-block;
}

.checkout-main .shipping .form-item .second-address,
.checkout-main .address .form-item .second-address{
	display: block;
	margin-left: 89px;
}

.checkout-main .form-item.in-hands-date label {
  display: block;
  float: none;
  width: auto;
  text-align: left;
  font-size: 14px;
}

label.form-checkbox:not([for="website_order_use_balance"]){
	margin-left: 89px;
}

.shipping .btn.custom_btn{
	margin-left: 89px;
}
