.left{float: left;}
.right{float: right;}
.clear{clear:both;}
.second{float: right!important;}

/*-----------------------------------*/
/* HOME: PRODUCTS */
/*-----------------------------------*/
 #homeProducts .product{
        float: left;
        width: calc(33.3% - 140px);
        padding: 10px 70px;
        text-align: center;
    }

    #homeProducts .product img{
        width:100%!important;
        height:auto!important;
        margin-bottom: 10px;
        border-bottom: 3px solid;
    }

    #homeProducts .product h2{
        font-size: 1em;
        font-style: italic;
    }

    #homeProducts hr{
        opacity: 0.25;
        width: 45%;
    }

    @media (max-width: 890px){
        #homeProducts .product{
            width: calc(33.3% - 60px);
            padding: 10px 30px;
        }
    }

    @media (max-width:481px) {
        #homeProducts .product{
            float: none;
            width: calc(100% - 60px);
        }
    }

/*-----------------------------------*/
/* CONTACT US V.1 */
/*-----------------------------------*/
#contactV1{
	text-align: center;
}

#contactV1 hr{
	width:45%;
	opacity: 0.25;
}

#contactV1 h1{
	font-weight: 300;
	margin:15px 0px;
	font-size:24pt;
	text-transform: uppercase;
}
#contactV1 p{padding: 15px 0px;line-height: 22px;}

#info{padding-top: 15px;}
#info div{
	position:relative!important;
	width: 30%;
}
#info h2{
	font-weight:bold;
	text-transform: uppercase;
	font-size: 12px;
	margin:10px 0px;
	color: inherit;
}
/*a:hover{color:INSERT COLOR HERE!important;}*/

#contactV1 .col-1{}
#contactV1 .col-2{margin-left: 46px;}
#contactV1 .col-3{}
#contactV1 .imgLarge img{width:100%!important; height:auto!important;}

@media (max-width:481px) {
	#info div{width:100%;}
	#contactV1 .col-2{margin-left:0px;}
}

@media (max-width:375px){
	#contact p{padding:0px;}
}

/*-----------------------------------*/
/* CONTACT US V.2 */
/*-----------------------------------*/
#contactV2{
	padding: 10px 22px;
}
#contactV2 div, #contactV2 p{
	color: #999
}

#contactV2 h1{
	margin:10px 0px;
}

#contactV2 h2{
	color: #999;
	font-size:15px;
	font-weight:bold;
}
	#companyImage img{width:100%!important;height:auto!important;}

/*.second{margin:0px 17%;}*/
#contactV2 .col-3{width:33%;}

@media (max-width:660px) {
	#companyImage{margin-bottom: 15px;}
}

@media (max-width:481px) {
	#contactV2 .col-3{width: 45%}
	#contactV2 .second{float:right;}
	#companyImage{
		float:none;
		width: 200px;
		margin: 0 auto 15px;
	}
	#companyImage img{width: auto;}
}

@media (max-width:375px){
	#contactV2 .col-3{width:100%;float: none;text-align: center;}
	#contactV2 p{margin: 5px 0px 15px;}
}

/*-----------------------------------*/
/* CONTACT US V.3 */
/*-----------------------------------*/
#contactV3 h1{
	font-weight: bold;
	margin:15px 0px;
	font-size:24pt;
	text-transform: uppercase;
	font-style:italic;
	text-align: center;
}
#contactV3 p{margin: 15px 0px 0px;line-height: 22px;}
#contactV3 hr{
	width:45%;
	opacity: 0.25;
}

#contactV3 #info{text-align: left;}
#contactV3 #info h2{font-style:italic;}
/*a:hover{color:INSERT COLOR HERE!important;}*/

#contactV3 .col-1{}
#contactV3 .col-2{margin-left: 46px;}
#contactV3 .col-3{}

@media (max-width:481px) {
	#contactV3 *{text-align: center;}
	#contactV3 .col-2{margin-left:0px;}
}

@media (max-width:375px){
}

/*-----------------------------------*/
/* ABOUT US V.1 */
/*-----------------------------------*/
#aboutV1{
	text-align: center;
}
#aboutV1 h1{
	font-weight: 300;
	margin:15px 0px;
	font-size:24pt;
	text-transform: uppercase;
}
#aboutV1 p{padding-bottom: 15px;line-height: 22px;}

#values{padding-top: 15px;}
#values div{
	position:relative!important;
	width: 30%;
}
#values h3{
	font-weight:bold;
	text-transform: uppercase;
	font-size: 12px;
	margin:10px 0px;
	color:inherit;
}

.col-1{}
#aboutV1 .col-2{margin-left: 5%;}
.col-3{}

#values p{text-align: left;}

@media (max-width: 320px ) {
	#aboutV1 img {width: 50%;}
	#values p {
		font-size: 12px;
		line-height: 15px;
	}
}

/*-----------------------------------*/
/* ABOUT US V.2 */
/*-----------------------------------*/
#aboutV2{
	text-align: left;
	padding: 10px 22px;
}
#aboutV2 h1{
	font-weight: bold;
	margin: 15px 0px;
	font-size: 20px;
}

#aboutV2 p{
	margin: 15px 0px 0px;
	line-height: 22px;
}

#aboutV2 .left{width: 50%;}
.aboutImg{
	width:50%;
}
.aboutImg img{width: 100%!important;height: auto!important;}

@media (max-width:660px) {
	.aboutImg{
		float: none;
		margin: 0 auto;
		width:100%!important;
	}
	#aboutV2 .left{width: 100%;}
	#aboutV3 img{
		width:80%!important;
		height:auto!important;
	}
}

/*-----------------------------------*/
/* ABOUT US V.3 */
/*-----------------------------------*/
#aboutV3{
	text-align: center;
}
#aboutV3 h1{
	font-weight: bold;
	margin: 15px 0px;
	font-size: 24pt;
	text-transform: uppercase;
	font-style: italic;
}
#aboutV3 hr{
	width: 45%;
	opacity: 0.25;
}

#aboutV3 p{
	margin: 15px 0px 0px;
	line-height: 22px;
}

/*-----------------------------------*/
/* COMPANY STORES V.1 */
/*-----------------------------------*/
#csV1{padding:0px 5%}
#csV1 .left{width:50%;}
#csV1 .right{
	width: 300px;
	border: 1px solid rgb(229, 229, 229);
	padding: 10px 30px;
	border-radius: 10px;
	box-shadow: 0px 0px 18px -10px rgba(0,0,0,0.5);
	text-align: center;
}
#csV1 p{margin:10px 0px;line-height: 22px;}
#csV1 h1{font-size: 24px;}
#csV1 h2{font-size: 18px;font-weight: bold;margin:5px 0px;color:#999;}
#csV1 ul{padding-top: 5px;}
#csV1 ul li{margin: 10px 0px 10px 10%;}
#csV1 .section{text-align: left;}

@media (max-width:840px) {
	#csV1 .left, #csV1 .right{width:auto;}
	#csV1 .section, #csV1 .right img{
		float: left;
		width:30%;
		margin:0px 5px;
		text-align: justify;
	}
	#csV1 hr{display: none;}
}

@media (max-width:480px) {
	#csV1 .left, #csV1 .right{float: none;}
	#csV1 .section, #csV1 img{
		float: none;
		width: auto;
		margin:0px;
		text-align: left;
	}
	#csV1 .right img{width: 100%;}
	#csV1 hr{display: block;}
}

/*-----------------------------------*/
/* FAQ V.1 */
/*-----------------------------------*/
#faqV1{padding:10px 20px;}
#faqV1 p{margin-bottom: 10px;}
#faqV1 h1{font-size: 24px;}
#questions h2{font-size: 15px; font-weight: bold;color:#999;}
#questions{padding:10px 0px; line-height: 22px;}
#questions p {text-align: left;margin-bottom: 20px}

/*-----------------------------------*/
/* FAQ V.2 */
/*-----------------------------------*/
#faqV2 {padding: 0px 5%;}
#faqV2 .left, #faqV2 .right{width: 40%;}
#faqV2 h1{
	font-weight: bold;
	margin: 15px 0px;
	font-size: 24pt;
	text-transform: uppercase;
	font-style: italic;
	text-align: center;
}
#faqV2 hr{
	width: 45%;
	opacity: 0.25;
	color:#999;
}

#faqV2 .intro{
	margin: 15px 0px;
	line-height: 22px;
	text-align: center;
}

@media (max-width:480px) {
	#faqV2 .left, #faqV2 .right{width: auto!important;}
}
